SERVER_INIT=127.0.0.1
PORT_INIT=3306
ROOT_USERNAME=root
ROOT_PASSWORD=change_me_please

SERVER=db
USERNAME=app_user
PASSWORD=change_me_please

DBNAME=Goods_in_out
PORT=3306
SECRET_KEY=change_me_please